﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ViewLogs.aspx.cs" Inherits="PRoschke_ExcelTest3.ViewLogs" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Literal ID="ltLog" runat="server"></asp:Literal>
        <asp:Label ID="lblLogDump" runat="server" Text="Label"></asp:Label>
    </div>
    </form>
</body>
</html>
