body{
  font-family: "museo-sans-display",sans-serif;  
padding:0;
    margin:0;
    background-color: #f2f0f0;
    font-size:14px;
  }



h1{font-size:24px; color:#3e3e40; font-family: "museo-sans-display",sans-serif;  }
h2{font-size:18px !important; color:#938e8e; font-family:"acumin-pro-wide", sans-serif; font-weight: 800 !important;}
h3{font-size:24px;  color:#938e8e; font-family: "museo-sans-display",sans-serif; }
h4{font-size:16px; color:#938e8e; font-family:"acumin-pro-wide", sans-serif; line-height: 14px;}
h5{font-size:1em !important; color:#938e8e; font-family: "acumin-pro-wide", sans-serif;}

underline{text-decoration: underline;}
.hide{display: none;}
.clear{clear:both;}
.float-right{float: right !important;}
.float-left{float:left !important;}
.form-default{color:#938e8e; margin-left:1em;}

.absolute-text{position: absolute; left: 0; right: 0; top:60%; font-size: 1.2em;}


/* GENERAL BUTTON & TEXT CSS ========================================================================== */


.blue-bg{background:#4975ba;}
.green-bg{background-color: #007270;}
.yellow-bg{background-color:#face50;}
.light-pink-bg{background-color:#f07662;}
.pink-bg{background-color:#e40a38;}
.dark-grey-bg{background-color:#4f4c4c;}
.white-bg{background-color: #fff;}
.new-upload-table-bg{background:#f8f0ef;}
.blue-text{color:#4975ba;}
.green-text{color: #007270;}
.yellow-text{color:#face50;}
.white-text{color: #fff;}
.light-pink-text{color:#f07662;}
.pink-text{color:#e40a38;}
.dark-grey-text{color:#4f4c4c;}
.light-grey-text{color:#938e8e !important;}
.bold{font-weight: bold;}
.light-bold{font-weight: 700 !important;}
.normal-text{font-style: normal !important;}
.normal-weight{font-weight: normal !important;}
.italic {font-style: italic;}
.small-text{font-size: 80%; line-height: 1 !important;}
.x-small-text{font-size: 60%; line-height: 1 !important;}
.xx-small-text{font-size: 40%; line-height: 1 !important;}
.x-large-text{font-size:5em;}
.xx-large-text{font-size:8em;}
.large-text{font-size:140% !important;}

.button-clear-wrap{
    width:100%;
    margin:0;
    text-align: center;
    position: relative;
    margin:0 auto;
    clear:both;
}

.no-background{background-color: transparent !important;}


/* ALIGN & PADDING ========================================================================== */


.align-left{text-align: left !important; }
.align-right{text-align: right;}
.align-center{text-align: center !important; margin:0 auto !important; float:inherit !important;}
.align-center-2{text-align: center !important; }
.top-margin{margin-top:10% !important;}
.top-margin-negative{margin-top:-80px !important;}
.top-margin-large{margin-top:30% !important;}
.top-margin-small{margin-top:3% !important;}
.left-margin{margin-left:1% !important;}
.left-margin-large{margin-left:5% !important;}
.right-margin{margin-right:2% !important;}
.bottom-margin{margin-bottom:4% !important;}
.no-padding{padding:0 !important;}
.top-padding{padding-top:10px !important;}
.bottom-padding{padding-bottom:3% !important;}
.border-right{padding-left:2em !important; border-right:1px solid #ccc;}
.padding-2{padding-left:2em !important;}
.extra-padding{padding:1.5em !important;}
.right-padding{padding-right:3em !important;}
.short-height{height: 70px;}

/* TABLE CSS ========================================================================== */
/* INPUT FILE SELECTION ========================================================================== */

.dragdopbox{width:70%; border:2px dashed #938e8e; margin: 0 auto; padding:2.5em 0; margin-bottom: 4em;}
.dragdroptext{text-align: center; width:50%; margin: 0 auto; }


.json-test textarea {width:70%; border:1px solid #938e8e; margin: 0 auto; padding:2.5em 0; margin-bottom: 2em; background-color: #f5f9f9; outline: none; resize: none; padding:1em; color:#0a0a0a; height: 275px; font-size: 1em; font-family:"acumin-pro-wide", sans-serif;}

#how-to-use{font-family: "acumin-pro-wide", sans-serif;}
#how-to-use li{margin-left: 15px;}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.no-js .inputfile + label {
    display: none !important;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile-6 + label, .upload_link{
    text-align: center;
    color: #4975ba;
    text-decoration: underline;
    font-size: 2em;
    display: inline-block;
    font-family: "museo-sans-display",sans-serif ; 
    font-weight: normal !important;
    cursor: pointer;
}


/* HEADER  ========================================================================== */



.header-wrap{
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    margin:0 auto;
    height:75px; 
}

.header{  max-width:1366px; margin: 0 auto;}

#logo{
    background-image: url(../images/axa-logo.png);
    background-repeat: no-repeat;
    width:230px;
    height:50px;
    float: left;
    margin:15px;
}

.nav-wrap{
    float:right;
    width:600px;
}

.nav li{
    width:32%;
    display: inline-block;
    padding:15px;
    font-size: 18px;
    color: #3e3e40;
    text-align: center;
    font-weight:400;
    border-top:3px solid transparent;
    border-right:1px solid #e3e3e3;
}

.nav li i{font-size:24px;}

.nav li:hover{
    color:#f07662;
    border-top:3px solid #f07662;
    cursor: pointer;
}

.nav li.active{ color:#f07662;
    border-top:3px solid #f07662;}

.show-item{font-size:2em; color: #938e8e;}
.hide-item{font-size:2em; color: #938e8e;}
.show-item i{cursor: pointer;}


.full_content{
    display: none;
}

/* Tablet Portrait */
@media only screen 
  
  and (max-width: 1024px) 
{
#logo{
    background-image: url(../images/axa-logo.png);
    background-repeat: no-repeat;
    width:45px;
    height:50px;
    float: left;
    margin:15px;
}
}

/* BODY  ========================================================================== */
    
/* DASHBOARD  ========================================================================== */

.content-header{
width: 100%;

}

.content-header-left{
    width:40%;
    text-align: left;
display: inline-block;
}

.content-header-right{
    width:59%;
    text-align: right;
  display: inline-block;
}

.content-header-large{
    width:70%;
    text-align: left;
    float: left;
}

.content-header-small{
    width:30%;
    text-align: right;
    float: left;
}

.body-full-wrap{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0; 
}

.body-wrap{
    max-width: 1366px;;
    margin:0 auto;
    
}

.box-full-width{
    background:#fff;
    margin:0 auto;
    width:98%;
    padding:25px;
    margin:1%;
    
}

.box-med-width{
    background:#fff;
    margin:0 auto;
    width:61%;
    padding:25px;
    margin:1%;
    float:left;
}

.box-small-width{
    background:#fff;
    margin:0 auto;
    width:35%;
    padding:25px;
    margin:1%;
    float:left;
}


.content-full-width{
    width:90%;
    margin:1%;
}


.checkbox{width:20px; height: 20px;}

.search-wrap{width:100%; padding-bottom:1%; border-bottom: 1px solid #e2dede; margin-top:3em;}
.serach-result-wrap{width:100%; margin-top:2%;}

.tab-wrap{float:right; text-align: right;}

.persisted {font-size:.7em;}
.persisted.true {color:#2ea20a;}
.persisted.false {color:#d40303;}
.download{cursor: pointer; font-size: 1.2em;}
.download:hover{color:#f07662;}

.comment {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top:10px;
  background: #f07662;
  position: relative;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.comment:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 25px;
  width: 0;
  height: 0;
  border-top: 10px solid #f07662;
  border-right: 10px solid transparent;
}

.comment_hover{ display: none; position: absolute; margin-left: 1px; width:300px; padding:1em;  background: #f07662; color: #fff;
    text-align: left; border-radius: 30px;
    height: auto;
    left: -5px;}
.comment_hover:before{content: "";
  position: absolute;
  right: 50%;
  top: 25px;
  width: 0;
  height: 0;
  border-top: 10px solid #f07662;
  border-right: 10px solid transparent;}

/*.comment{cursor: pointer; background-image: url(../images/comment.svg); width:29px; height: 29px; background-repeat: no-repeat; margin-top: 5px;}
.comment_hover{ display: none; position: absolute; margin-left: 1px;}
.comment_head{background-image: url(../images/comment_1-01.svg); height:28px; width:14px; background-repeat: no-repeat;float: left;}
.comment_body{background-color: #f07662; height: 28px; line-height: 27px; width: auto; padding: 0em 1em ;float: left; color: #fff; font-size: 12px;font-family: "acumin-pro-wide", sans-serif; margin-left: -1px;}
.comment_tale{background-image: url(../images/comment_2-01.svg); height:30px; width:20px; background-repeat: no-repeat;float: left; margin-left:-1px; margin-top:-1px;}
*/
.calculate_button{width:100px; height: 100px; border-radius:50%; background:#007270;  color: #fff; font-size: 2.5em; text-align: center; font-family: "acumin-pro-wide", sans-serif; padding-top:12px; margin: auto; position: relative; top: -80px; left: 0; right: 0; cursor: pointer;}
.calculate_button:hover{background:#f07662;}
.output{color:#938e8e; font-family: "acumin-pro-wide", sans-serif; padding-top:1.5em !important;}

.download_button{text-align: center; color:#938e8e; margin-top:2em; font-size: 1.5em; clear: both; font-family: "acumin-pro-wide", sans-serif; width:100px; float: right; cursor: pointer;}
#download_button:hover{color: #f07662;}
#full_log_button:hover{color: #f07662;}


/* SPEED DASHBOARD  ========================================================================== */
.speed-dashboard{width:300px; height:300px; background-image: url(../images/dashboard-body.png); background-repeat: no-repeat; margin:20px 0px 0px 35px; z-index: 0; }
.speed-dashboard-point{background-image: url(../images/dashboard_pointer.png);background-size: 100%; width:200px; height: 200px; position: relative; z-index: 10; background-repeat: no-repeat; top:56px; left: 50px; transform: rotate(-99deg);}
.speed-dashboard-label{font-size: 28px; width:300px; text-align: center; position: relative; z-index: 20; font-family: "acumin-pro-wide", sans-serif; top:20px;}



/* FILE COMPLETE  ========================================================================== */

.glass {
  position: absolute;
  top: 40%;
  left: 50%;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #2c3e50;
  overflow: hidden;
  transform: translate(-50%, -50%);
  border: 5px solid #2c3e50;
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.1);
   
}

.liquid {
  content: '';
  position: absolute;
  background: #2980b9;
  width: 150px;
  height: 0px;
  bottom: 0;
  display: block;
  border-top-right-radius: 50%;
  background-clip: border-box;
  animation: curve 3s forwards;
}

.bubble {
  position: absolute;
  width: 4px;
  border-radius: 100%;
  height: 4px;
  top: 50%;
  left: 30%;
  background-color: #fff;
  animation: bubbled 4s infinite;
}
.bubble + .bubble {
  left: 20px;
  top: 12px;
  width: 15px;
  height: 15px;
  animation-duration: 3s;
}

.success {
  width: 18px;
  height: 55px;
  position: absolute;
  top: 33%;
  left: 43%;
  border: 3px solid white;
  border-width: 0 3px 3px 0;
  border-radius: 3px;
  transform: rotate(45deg);
}

@keyframes curve {
  0% {
    border-top: 2px solid rgba(255, 255, 255, 0);
    transform: rotate(-9deg);
    height: 0px;
    background-color: #ff0000;
  }
  15% {
    border-top: 2px solid rgba(255, 255, 255, 0);
    transform: rotate(9deg);
    height: 15px;
  }
  25% {
    border-top: 2px solid rgba(255, 255, 255, 0);
    transform: rotate(9deg);
    height: 20px;
  }
  30% {
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    transform: rotate(-10deg);
    height: 40px;
  }
  50% {
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    transform: rotate(-5deg);
    height: 70px;
  }
  75% {
    border-top: 2px solid rgba(255, 255, 255, 0);
    transform: rotate(-3deg);
    height: 115px;
  }
  80% {
    border-top: 2px solid rgba(255, 255, 255, 0);
    transform: rotate(-10deg);
    height: 130px;
    background-color: #3300ff;
  }
  100% {
    border-top: 2px solid rgba(255, 255, 255, 0.9);
    transform: rotate(363deg);
    height: 150px;
    background-color: #3BC91E;
  }
}
@keyframes bubbled {
  0% {
    top: 80px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  100% {
    top: 10px;
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes updown {
  0% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(3px);
  }
}



/* POP UP LAYOUT  ========================================================================== */

#content-underneath{
       position: fixed;
    z-index: 0;
    overflow-y: hidden;
    margin: auto;
    left: 0;
    right: 0;
}

#overlay-background{
    background-color: #394145;
    position:fixed;
    margin:auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
   opacity: 0.9;
}



#pop-up-content{
    width:80%;
    height: 80%;
    padding:2em;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    margin:auto;
    background-color: #fff;
    color: #938e8e;
    transition: all 5s ease-in-out;
}

.pop-up-header{
    width:100%;
    margin:0 auto;
    height:50px;
    margin-bottom: 2em;
}

.pop-up-header-small{ 
    width:20%;
    float: left;
}

.pop-up-header-large{ 
    width:100%;
    float: left;
}

.pop-up-header-right-column{
    width:20%;
    margin-right:2em;
    text-align: left;
    display: inline-block;
    margin-top:1.5em;
     font-family: "acumin-pro-wide",sans-serif;
}

.pop-up-content{
    /*padding-top:2em; */
    width:100%;
    /*height: 87%;*/
    max-height: 1200px;
    /*overflow-y: auto;*/
}

.pop-up-close{
    color:#f5f9f9;
    font-size: 2.2em;
    position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
    cursor: pointer;
}

.pop-up-left{
         width:45%;
         float: left;
     }   
     
.pop-up-right{
         width:45%;
         float: right;
     }

.pop-up-middle{
    width:100%;
    margin-top:1.5em;
    font-family: "acumin-pro-wide",sans-serif;
    line-height: 3em;
}

.box{margin-top:1em;}

/* Tablet Portrait */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
 {
     
     #log-results{width:100%; clear: both; margin-top:35%;}
     
     .medium-3{width:30% !important;\;: ;
}     
     
    .button-clear-wrap{
    width:100%;
    margin:0;
    text-align: center;
    position: relative;
    clear:both;
    top:2em;
}
     
.pop-up-header-right{ 
    width:66%;
    float: right;
}

.pop-up-header-right-column{
    width:41%;
    margin-right:2em;
    text-align: left;
    display: inline-block;
    margin-top:1.5em;
     font-family: "acumin-pro-wide",sans-serif;
}
     
#pop-up-content{
    width:85%;
    height: 80%;
    padding:2em;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    margin:auto;
    background-color: #fff;
    color: #938e8e;
    transition: all 5s ease-in-out;
}     

.pop-up-content{
    padding-top:0em;
    width:80%;
    height: 87%;
    max-height: 1200px;
    overflow-y: auto;
    margin: 0 auto;
    margin-top:1.5em;
    clear: both;
}     
     
.pop-up-right{
         width:100%;
         float: none;
     }
 
.pop-up-left{
         width:100%;
         float: none;
     }    
     
  .pop-up-header-small {
    width: 17%;
    float: left;
}   

.border-bottom {
    padding: 1em 1em 1em 0em;
    border-bottom: 1px solid #ccc;
}
 
.delete-alert {
width:100%; padding:1em; background-color: #e40a38; color:#fff; text-align: left; font-size: 1em;font-family: "acumin-pro-wide",sans-serif; font-weight: bold; margin:auto; position:absolute; right:0; left: 0; margin-top:-60px;     }

     

