
.icon-check:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-upload:before { content: '\e802'; } /* '' */
.icon-how:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-download:before { content: '\e805'; } /* '' */
.icon-contact:before { content: '\e806'; } /* '' */
.icon-calculate:before { content: '\e807'; } /* '' */
.icon-comment:before { content: '\e808'; } /* '' */
.icon-template:before { content: '\e809'; } /* '' */
.icon-excel:before { content: '\e80a'; } /* '' */
.icon-json:before { content: '\e80b'; } /* '' */
.icon-save:before { content: '\e80c'; } /* '' */
.icon-download-2:before { content: '\e80d'; } /* '' */
.icon-dashboard:before { content: '\e80e'; } /* '' */
.icon-circle:before { content: '\e810'; } /* '' */
.icon-right-open-big:before { content: '\e81f'; } /* '' */
.icon-left-open-big:before { content: '\e820'; } /* '' */
.icon-up-open-big:before { content: '\e821'; } /* '' */
.icon-down-open-big:before { content: '\e822'; } /* '' */
.icon-up-open-mini:before { content: '\e823'; } /* '' */
.icon-right-open-mini:before { content: '\e824'; } /* '' */
.icon-left-open-mini:before { content: '\e825'; } /* '' */
.icon-cancel-1:before { content: '\e827'; } /* '' */